.registro{
    background-color: #007bff34;
    color: black;
    border: 5px;
    width: 500px;              /* Ajusta el ancho según prefieras */
    margin: 30px auto;         /* Centra horizontalmente */
    cursor: auto;
    line-height: 1;       /* Espaciado entre líneas */
    border-radius: 10px;
    padding: 3px 30px;        /* Espaciado interno opcional */
}

.init{
    text-align: center;
}

.form-control{
    width: 90%;
    margin-bottom: 8px; /* Espacio entre campos */
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

input {
  color: #111 !important;
}

.btn-registro{
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}